


<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <a routerLink="/home" class="navbar-brand"><i class="fa fa-cube"></i>Project <b>Blockchain</b></a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <form class="navbar-form form-inline">
      <div class="input-group search-box">
        <input type="text" id="search" class="form-control" placeholder="Search here...">
        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
      </div>
    </form>

    <div class="navbar-nav ml-auto">
      <a routerLink="/" class="nav-item nav-link active"><span class="font-weight-bold">Accueil</span></a>
      <a routerLink="/blockchain" class="nav-item nav-link"><span class="font-weight-bold">Liste Blockchain</span></a>
      <a  routerLink="/addBlockchain" class="nav-item nav-link"><span class="font-weight-bold">Ajouter Blockchain</span></a>



      <div  class="nav-item dropdown">
        <a href="#" style="font-family: 'Poppins', Comfortaa, sans-serif"  data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action font-weight-bold">Mine Block</a>
        <div class="dropdown-menu">
          <a class="dropdown-item"> Mine Block</a>
          <div class="divider dropdown-divider"></div>
          <a   class="dropdown-item"> ----</a>
        </div>
      </div>
    </div>
  </div>
</nav>






<router-outlet></router-outlet>
